@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    background-color: #e8eaed;
}

a {
    display:block;
    margin-top: 10px;
    text-decoration: underline;
    color: #363838;
}

a:hover{
    transition: all 0.3s ease;
    color: black;

}

.container{
    max-width: 440px;
    margin: 48px auto;
    text-align: center;
}